## **1. 먼저 복습을 해볼까요?**

저번 시간에 배운 내용:

- 반복문(for, while)
- 리스트
- 리스트 함수(list, insert, pop, remove, index, len)
- 튜플

**< 복습문제1 >**

1. 처음에 리스트에 몇 개의 자료들이 있는지 출력해봅시다. (len)
2. for를 이용해 리스트를 돌며, 리스트의 값을 출력해봅시다. (for)

In [47]:
students = ['나현', '수현', '제인', '봉준', '혜민', '정희', '현우', '종민', '민기', '주연', '담비', '가은']

print(len(students))

for i in students:
    print(i)

12
나현
수현
제인
봉준
혜민
정희
현우
종민
민기
주연
담비
가은

**< 복습문제2 >**

리스트에서 5의 배수만 2배 늘려 출력하는 프로그램을 작성해봅시다.

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 , 13, 14, 15, 16, 17, 18, 19, 20]

for i in numbers:
    if(i % 5 == 0):
        print(i * 2)

10
20
30
40

**< 복습문제3 >**

a, b, c 리스트를 합치고, 리스트 슬라이싱을 이용해 '나는'부터 '좋아합니다'까지를 추출해봅시다.

In [7]:
a = ['많은', '음식들이 있지만', '나는']
b = ['피자', ' 햄버거', ' 족발', '보쌈', '생연어', '오이김밥', '광어지느러미']
c = ['좋아합니다.', '잘 알아 두세요.']

full_list = (a+b+c)
short_list = full_list[2:-1]

print(*short_list)

나는 피자  햄버거  족발 보쌈 생연어 오이김밥 광어지느러미 좋아합니다.

**< 복습문제4 >**

복습문제3에서, 사실 '오이김밥'은 안좋아합니다.
리스트에서 오이김밥을 제거해주세요(remove)

In [57]:
a = ['많은', '음식들이 있지만', '나는']
b = ['피자', ' 햄버거', ' 족발', '보쌈', '생연어', '오이김밥', '광어지느러미']
c = ['좋아합니다.', '잘 알아 두세요.']

new_arr = (a+b+c)[2:-1]

# 오이 김밥 제거

new_arr.remove('오이김밥')

print(new_arr)

['나는', '피자', ' 햄버거', ' 족발', '보쌈', '생연어', '광어지느러미', '좋아합니다.']

**< 복습문제5 >**

튜플 언패킹을 이용해서 a에는 3, b에는 4를 한줄로 넣어봅시다.

In [58]:
a,b = 3,4

print(a)
print(b)

3
4

**<복습문제6>**

for를 이용해 "어떤 표현법을 써야만 내 맘이 전해질까"를 5번 출력해봅시다.

In [63]:
s = '어떤 단어를 써야만 내 맘이 전해질까'
# TO DO
# 1. s 문장에서 '단어를'을 '표현법을'로 바꿔주세요.
# 2. 5번 반복해봅시다.

new_sentence = s.replace('단어를' , '표현을')

for i in range(5):
    print(new_sentence)

어떤 표현을 써야만 내 맘이 전해질까
어떤 표현을 써야만 내 맘이 전해질까
어떤 표현을 써야만 내 맘이 전해질까
어떤 표현을 써야만 내 맘이 전해질까
어떤 표현을 써야만 내 맘이 전해질까

## **2. while 심화**
- while의 구조
--------------------
while 조건:

　　실행할 내용1

　　실행할 내용2

--------------------

- 만약 조건에 True가 들어있으면 영원히 끝나지 않음 (무한loop)

- if... break를 이용해 무한loop를 끝낼 수 있음

- continue를 이용해 반복문의 처음으로 보낼 수 있음.

- 무한 loop에서 빠져나오지 못한다면, 상단의 런타임-런타임 다시 시작을 누릅니다.

**2-1) 그럼, 프로그램을 만들어볼까요**

1. 무한loop를 만들어봅시다.

2. 반복문의 밖에서 i=0을 할당하고, 반복문이 돌수록 i를 1씩 늘려봅시다. (i = i + 1)

3. if문을 넣어, i가 10보다 크면 멈추게 합시다(if, break)

4. 반복문의 맨 마지막에 i를 출력합시다.

In [8]:
# TO DO

**2-2) continue를 써볼까요?**

continue를 이용해 i가 짝수일 때는, 출력이 되지 않고 반복문의 처음으로 가도록 코드를 수정합시다.

## **3. 3/6/9 프로그램 만들기**
- 369게임은, 1부터 순서대로 세며 숫자에 3/6/9가 들어가면 '짝'을 입력하는 게임입니다
- 숫자를 입력 받고, 그 숫자까지 3/6/9 게임을 혼자서 진행하는 프로그램을 만들어봅시다.

In [13]:
# TO DO
# 같이 해봐요



user_input = input('숫자를 입력해주세요')
user_input = int(user_input)

for i in range(1, user_input+1):
    if str(i).find('3')>=0 or str(i).find('6')>=0 or str(i).find('9') >=0:
        print('짝', end=' ')
    else:
        print(i, end=' ')   

# find 메서드를 찾을 때 없는 것을 찾으면 -1 이 나오니까, >=0 이면 문장안에 있는 것이다.

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝 짝 짝 짝 짝 짝 짝 40

## **4. for 심화**
- for 변수 in 리스트 를 통해 리스트 iteration을 할 수 있습니다.
- for 변수 in range(len(리스트)) 를 통해 리스트의 모든 index에 접근할 수 있습니다.

**4-1) range(len(리스트))를 이용해 리스트의 인덱스에 접근해봅시다.**

In [9]:
a = [1, 2, 3, 4, 5]

for i in range(len(a)): # 인덱스로 접근
    print(i)

0
1
2
3
4

**4-2) 인덱스를 이용해 복수의 리스트에 접근해 봅시다.**

길이가 같은 리스트 a, b가 있을 때, 하나를 골라서 for i in range(len(a))를 이용해 인덱스에 접근합니다.

이를 이용해, 두 리스트의 합을 출력해봅시다.

In [10]:
a = [1, 2, 3, 4, 5]
b = [10, 20, 30, 40, 50]

for i in range(len(a)): # 인덱스로 접근하면 이렇게 리스트의 합을 구하기가 용이하다.
    print(a[i] + b[i])

11
22
33
44
55

**4-3) 연습해볼까요?**

name에는 사람의 이름, cook에는 요리 이름이 들어있습니다.

f-string 혹은 format을 이용해, ㅇㅇ는 ㅇㅇㅇ를 만듭니다를 출력해봅시다. (for, while)

In [11]:
name = ['나현', '수현', '제인', '봉준', '혜민', '정희', '현우', '종민', '민기', '주연', '담비', '가은']
cook = ['오징어짬뽕', '너구리', '튀김소보루', '연어김밥', '족발튀김', '감바스', '라멘', '새우찜', ' 조개탕', '까르보나라', '불고기덮밥', '비빔밥']

for i in range(len(name)):
    print(f'{name[i]}는 {cook[i]}를 만듭니다.')

나현는 오징어짬뽕를 만듭니다.
수현는 너구리를 만듭니다.
제인는 튀김소보루를 만듭니다.
봉준는 연어김밥를 만듭니다.
혜민는 족발튀김를 만듭니다.
정희는 감바스를 만듭니다.
현우는 라멘를 만듭니다.
종민는 새우찜를 만듭니다.
민기는  조개탕를 만듭니다.
주연는 까르보나라를 만듭니다.
담비는 불고기덮밥를 만듭니다.
가은는 비빔밥를 만듭니다.

**4-4) 연습해볼까요?**

name에는 사람의 이름, cook에는 요리 이름이 들어있습니다.

f-string 혹은 format을 이용해, ㅇㅇ는 ㅇㅇㅇ를 만듭니다를 출력해봅시다. (for, while)

In [13]:
# TO DO

**4-5) 최대값과 최소값을 구해볼까요?**

- 최대값은 엄청 작은 값을 처음에 넣고, 모든 리스트의 값과 비교해서 큰 값들을 업데이트 시켜볼 수 있습니다.
- 최소값은 엄청 큰 값을 처음에 넣고, 모든 리스트의 값과 비교해서 작은 값들을 업데이트 시켜볼 수 있습니다.

In [14]:
a = -1

value_list = [10 ,20, 30, 40, 30, 20, 10]

for value in value_list:
    if a < value:
        a = value
    
print(f'최대값: {a}')

최대값: 40

**최소값을 찾는 코드를 한번 만들어보죠**

그냥 하면 재미 없으니, for i in range(len(value)):를 이용해봅시다.

In [22]:
a = 9999999

value_list = [10 ,20, 30, 40, 30, 20, 10]

for i in range(len(value_list)):
    if(a > value_list[i]):
        a = value_list[i]

print(f'최솟값은 {a} 입니다.')

최솟값은 10 입니다.

**4-6) 중간에 끊어봅시다.**

- break를 이용하면 for문을 중간에 중단할 수 있습니다.
- 조건문과 함께 사용할 때 강력하죠.

In [25]:
value_list = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# 값이 내림차순 정렬 되어있고, 50 이상의 값만 출력하고 싶다면?

#  하단과 같이 짜면 for문이 너무 많이 돈다. 40부터는 볼 필요 없다.
# for v in value_list:
#     if(v >= 50):
#         print(v)

# 시간 복잡도를 고려한 코드
for v in value_list:
    if v < 50:
        break
    print(v)

100
90
80
70
60
50

## **5. Set**

- 중복을 허용하지 않는 구조입니다.
- 수학에서의 집합과 동일한 개념입니다.
- {}를 이용해 선언할 수 있습니다.
- set()을 이용해 리스트를 set으로 변환할 수 있습니다.

In [27]:
a = {1, 2, 3}

print(a)

{1, 2, 3}

In [18]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분 집합

{1, 2, 3, 4}
{2, 3}
{1}
False

**5-1) set에 값을 넣어봅시다.**

In [21]:
a = {1, 2, 3}

a.add(4)
print(a)

{1, 2, 3, 4}

In [30]:
# 이번에는 반복문을 이용해 10번 4를 넣어보고 출력해볼까요?
a = {1, 2, 3}

for i in range(10):
    a.add(4)

print(a)

{1, 2, 3, 4}

**5-2) set을 이용해 중복을 제거해볼까요?**

In [33]:
a = [1, 1, 2, 2, 3, 3]

a = list(set(a))

print(a)

[1, 2, 3]

## **일일 과제**

1. 다음은 학생들의 수학, 사회, 국어 성적입니다. 50점 이하의 점수를 받은 과목은 보충 수업을 받아야 합니다. 어떤 학생이 어떤 수업의 보충수업을 받아야 할까요?

In [28]:
name = ["Kim", "Lee", "Park", "Choi", "Jung", "Kang", "Cho", "Yoon", "Jang", "Lim", "Han"]
math = [97, 38, 49, 98, 58, 17, 13, 25, 39, 9, 96]
sociology = [19, 52, 61, 13, 91, 34, 87, 7, 69, 97, 33]
Korean = [92, 36, 45, 52, 0, 91, 9, 93, 45, 75, 37]

math_underscore_person =[]
sociology_underscore_person =[]
Korean_underscore_person =[]

for i in range(len(math)):
    if(math[i] <= 50):
        math_underscore_person.append(name[i])

for i in range(len(sociology)):
    if(sociology[i] <= 50):
        sociology_underscore_person.append(name[i])

for i in range(len(math)):
    if(Korean[i] <= 50):
        Korean_underscore_person.append(name[i])
        
print(f'수학 보충을 받아야할 학생은 {",".join(math_underscore_person)} 입니다.')
print(f'사회학 보충을 받아야할 학생은 {",".join(math_underscore_person)} 입니다.')
print(f'국어 보충을 받아야할 학생은 {",".join(Korean_underscore_person)} 입니다.')

# 배열을 문자열로 바꾸는 법
# " ".join(배열)

수학 보충을 받아야할 학생은 Lee,Park,Kang,Cho,Yoon,Jang,Lim 입니다.
사회학 보충을 받아야할 학생은 Lee,Park,Kang,Cho,Yoon,Jang,Lim 입니다.
국어 보충을 받아야할 학생은 Lee,Park,Jung,Cho,Jang,Han 입니다.

'Lee, Park, Kang, Cho, Yoon, Jang, Lim'

2. 아래의 성적에 오류가 있습니다! 각 과목별로 성적이 가장 낮은 사람이 사실 50점 낮게 채점이 되었습니다! 빨리 전체 성적을 재계산하여 전체 평균 성적을 내야 합니다!

- 각 과목별로 가장 낮은 성적을 찾아
- +50을 하고 수정된 전체 성적을 print 하기
- 과목별 평균점수를 계산하여 print 하기

In [23]:
name = ["Kim", "Lee", "Park", "Choi", "Jung", "Kang", "Cho", "Yoon", "Jang", "Lim", "Han"]
math = [97, 38, 49, 98, 58, 17, 13, 25, 39, 9, 96]
sociology = [19, 52, 61, 13, 91, 34, 87, 7, 69, 97, 33]
Korean = [92, 36, 45, 52, 0, 91, 9, 93, 45, 75, 37]

# 최솟값을 초기화
math_min=99999
sociology_min=99999
Korean_min=99999

# 인덱스를 담는 변수
math_index = 0 
sociology_index = 0
Korean_index = 0

# 합계를 구하기 위한 초기화
math_sum=0
sociology_sum=0
Korean_sum=0

# 낮은 점수 찾아서 50점 더하기 
for i in range(len(math)):
    if(math[i] < math_min):
        math_min = math[i]
        math_index = i

# 점수 50점 더하기
math_min = math_min + 50 
# 최솟값을 원본 배열에서 교체       
math[math_index] = math_min

       
for i in range(len(sociology)):
    if(sociology[i] < sociology_min):
        sociology_min = sociology[i]
        sociology_index = i

# 점수 50점 더하기
sociology_min = sociology_min + 50
# 최솟값을 원본 배열에서 교체 
sociology[sociology_index] = sociology_min        
        
for i in range(len(Korean)):
    if(Korean[i] < Korean_min):
        Korean_min = Korean[i]
        Korean_index = i

# 점수 50점 더하기
Korean_min = Korean_min + 50

# 최솟값을 원본 배열에서 교체 
Korean[Korean_index] = Korean_min         


# 전체 성적        
print(f'수학: {math}')
print(f'사회학:{sociology}')
print(f'한국어: {Korean}')

# 과목별 평균 
for i in range(len(math)):
    math_sum+=math[i]
    sociology_sum+=sociology[i]
    Korean_sum+=Korean[i]
    
print(f'수학 평균: {math_sum / len(math)}')
print(f'사회학 평균: {sociology_sum / len(sociology)}')
print(f'국어 평균: {Korean_sum / len(Korean)}')

수학: [97, 38, 49, 98, 58, 17, 13, 25, 39, 59, 96]
사회학:[19, 52, 61, 13, 91, 34, 87, 57, 69, 97, 33]
한국어: [92, 36, 45, 52, 50, 91, 9, 93, 45, 75, 37]
수학 평균: 53.54545454545455
사회학 평균: 55.72727272727273
국어 평균: 56.81818181818182

3. 비밀번호 찾기

당신은 눈앞에 있는 문을 열기 위해 *네 자리* 의 비밀번호를 찾아야 합니다.

비밀번호를 찾기 위해 모든 경우의 수를 다 적용하는 코드를 짜기로 결정했습니다. 다행히 비밀번호 시도 회수 제한이 없습니다.

비밀번호의 각 자리는 0부터 9까지의 숫자로만 이루어져 있습니다.


- input을 통해 비밀번호를 입력받으세요.
- 반복문을 통해 모든 경우의 수를 iteration하세요
- 비밀번호가 맞은 경우, 비밀번호는 ㅇㅇㅇ입니다를 출력하고, 반복문을 빠져나오세요.

In [34]:
user_input = input(f'숫자를 입력해주세요')
password = list(user_input)

p1 = int(password[0])
p2 = int(password[1])
p3 = int(password[2])
p4 = int(password[3])

assumend_password = []

for i in range(10):
    for j in range(10):
        for k in range(10):
            for l in range(10):
                if p1 == i and p2 == j and p3 == k and p4 == l:
                    assumend_password.append(i)
                    assumend_password.append(j)
                    assumend_password.append(k)
                    assumend_password.append(l)
                    break
            if len(assumend_password) > 0:
                break
        if len(assumend_password) > 0:
                break
    if len(assumend_password) > 0:
                break
   
   
result = assumend_password

print(f'비밀번호는 {result} 입니다.')

비밀번호는 [3, 8, 3, 4] 입니다.

In [8]:
# 어떻게 하면 0으로 시작하는 친구를 처리할 수 있을까 

# 의도한 코드 
user_input = input(f'숫자를 입력해주세요')
password_int = int(user_input)

for i in range(10000):
    if (password_int == i):
        i_str = str(i).zfill(4)
        print(f'비밀번호는 {i_str} 입니다.')
        break

비밀번호는 0001 입니다.

4. 숫자주머니 만들기

당신은 숫자 주머니를 만들고 있습니다. 숫자 주머니에는 중복이 되지 않게 다양한 숫자를 넣으려 합니다. 단, 숫자는 1이상의 양의 정수입니다.

당신은 숫자를 10번 입력 받고, 중복이 되지 않게 숫자 주머니를 만들어 숫자 주머니에 들은 숫자들을 출력합니다.

단, 10번 입력을 받는 동안 0이 입력되면 더이상 입력을 받지 않습니다.


예1)

[input]

숫자1을 입력해주세요: 1

숫자2을 입력해주세요: 1

숫자3을 입력해주세요: 2

숫자4을 입력해주세요: 2

숫자5을 입력해주세요: 3

숫자6을 입력해주세요: 3

숫자7을 입력해주세요: 4

숫자8을 입력해주세요: 4

숫자9을 입력해주세요: 5

숫자10을 입력해주세요: 6

[output]

1 2 3 4 5 6


예2)

[input]

숫자1을 입력해주세요: 1

숫자2을 입력해주세요: 1

숫자3을 입력해주세요: 2

숫자4을 입력해주세요: -1

[output]

1 2

In [64]:
output_arr = set() # 중복이 없게 set으로 설정을 해주는 것이 좋다.

i=0
while i<=10:
    i += 1
    user_input = int(input(f'숫자{i}을 입력해주세요:'))
    output_arr.add(user_input)
    if(user_input <= 0 ):
        break
    elif (i == 10):
        break
    
print(*output_arr)

4 6 3 5 1 4 13 4 5 2