## **1. 먼저 복습을 해볼까요?**

저번 시간에 배운 내용:

- 변수와 자료형(int, float, string, boolen)
- 입력 받기(input)
- 비교 연산자
- 조건문

**< 복습문제1 >**

다음의 프로그램을 작성해 봅시다.

우리가 만들 프로그램은, 숫자를 입력 받고 이것이 3의 배수인지 4의 배수인지 전부 아닌지 출력하는 프로그램 입니다.

1. Input함수를 통해, 숫자를 입력받으세요.

2. 3의 배수라면 "___는 3의 배수입니다"를 출력하세요.

3. 4의 배수라면 "___는 4의 배수입니다."를 출력하세요.

4. 전부 아니라면, "___는 3의 배수와 4의 배수가 아닙니다."를 출력하세요.

In [1]:
# TO DO

**< 복습문제2 >**

다음의 프로그램을 작성해 봅시다.

문장을 입력 받고, "JAVA"를 "Python"으로 교체한 후 출력하는 프로그램을 만들어봅시다.

1. Input함수를 통해, 문장을 입력받으세요.

2. replace를 이용해 JAVA를 Python으로 바꿔주세요

3. 문자열을 출력해봅시다.

In [2]:
# TO DO

**< 복습문제3 >**

다음의 프로그램을 작성해 봅시다.

리스트 슬라이싱을 이용해 원하는 문자열을 추출해봅시다.

1. 리스트 슬라이싱을 이용해 문자열에서 "Hanyang University"을 추출해 주세요.

2. print를 이용해 출력해주세요.

In [3]:
strs = "한양대학교(漢陽大學校, Hanyang University)는 대한민국 서울특별시 성동구 행당동과 사근동에 걸쳐있는 서울캠퍼스(본교)와 경기도 안산시 상록구 사동에 있는 ERICA캠퍼스(분교)로 이루어진 사립 대학이다."
# TO DO

## **2. 리스트란 무엇일까요?**
- 복수개의 값을 담을 수 있는 데이터 구조
- mutable: 생성된 후 변경 가능.
- [] 안에 값을 담아서 생성
- list() 함수로 생성

In [4]:
a = [] # 빈 리스트
print(a)

[]

In [5]:
a = [1, 2, 3, 4, 5] # 숫자
b = [1, 2, 3, "a"] # 혼합

**그럼 리스트의 개별 아이템에 접근해볼까요?**

In [6]:
a = [1, 2, 3, 4, 5]
print(a[3])

4

In [7]:
a = [1, 2, 3, 4, 5]
a[3] = 10
print(a)

[1, 2, 3, 10, 5]

**리스트 슬라이싱도 될 것 같지 않나요?**

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[3:6])

[4, 5, 6]

**list() 함수를 이용하면 다른 데이터 타입을 리스트로 바꿀 수 있어요**

In [9]:
a = "I love python"
b = list(a)

print(b)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

**리스트끼리 합칠수도 있습니다**

In [10]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

**중간에 삽입은 어떻게 하나요? "insert"**

In [12]:
a = [1, 2, 3, 4, 5]
a.insert(3, 10) # 3번 인덱스의 뒤에 10을 삽입
print(a)

[1, 2, 3, 10, 4, 5]

**pop과 remove는 값을 삭제합니다**
- remove: 특정 값의 아이템을 삭제
- pop: 지우고자 하는 값을 반환 후 삭제

In [13]:
a = [1, 1, 2, 2, 3, 3]
a.remove(2)
print(a)

[1, 1, 2, 3, 3]

In [14]:
a = [1, 5, 4, 1, 1, 5, 4, 1]
b = a.pop(5)
print(b)
print(a)

5
[1, 5, 4, 1, 1, 4, 1]

**index를 이용하면 특정 값이 어딨는지도 알 수 있어요**

In [15]:
a = [1, 5, 3, 10, 55]
print(a.index(10))

3

**리스트에 어떤 값이 있는지 확안하려면 in을 이용합시다**

In [16]:
a = [1, 5, 3, 10, 55]

if 3 in a:
    print("3은 a리스트에 있습니다.")
else:
    print("3은 a리스트에 없습니다.")

3은 a리스트에 있습니다.

**리스트에 몇 개의 아이템이 있을까요? len**

In [17]:
a = [1, 5, 3, 10, 55]

print(len(a))

a.remove(1)
print(a)
print(len(a))

5
[5, 3, 10, 55]
4

## **3. 튜플이란 무엇일까요?**
- 복수개의 값을 담을 수 있는 데이터 구조
- inmutable: 생성된 후 변경 불가.
- () 안에 값을 담아서 생성

In [18]:
a = (1, 2, 3, 4, 5)
a[3] = 10
print(a)

TypeError: 'tuple' object does not support item assignment

**tuple unpacking**

In [ ]:
a, b = 3, 5
print(a)
print(b)

3
5

## **3. 중간 복습 한번 하고 갑시다.**

**<중간복습1>**

a는 [1, 2, 3, 4, 5]가 담긴 리스트 입니다.

인덱스에 접근해서 [1, 5, 6, 4, 5]로 바꿔보세요.

In [ ]:
a = [1, 2, 3, 4, 5]
# TO DO

**<중간복습2>**

a는 [1, 2, 3, 4, 5]가 담긴 리스트 입니다.

리스트 덧셈을 이용해 [1, 2, 3, 4, 5, 10, 11] 리스트로 바꿔보세요.

In [ ]:
a = [1, 2, 3, 4, 5]
# TO DO

**<중간복습3>**

a는 [1, 2, 3, 4, 5]가 담긴 리스트 입니다.

pop이나 remove를 이용해 [1,2, 4, 5] 리스트로 바꿔보세요.

In [ ]:
a = [1, 2, 3, 4, 5]
# TO DO

**<중간복습4>**

a는 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]가 담긴 리스트 입니다.

리스트 슬라이싱을 이용해 [5, 6, 7, 8]을 출력해보세요.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# TO DO

## **4. 반복문**
- 반복적인 작업을 가능하게 해줍니다.
- for를 이용하면, 리스트와 문자열 등 컬렉션 타입 아이템을 하나씩 순회할 수 있습니다.
- while을 이용하면, 특정 조건을 만족하는 경우 계속 반복이 가능합니다.

In [ ]:
a = [1, 2, 3, 4, 5]

for item in a:
    print(item)

1
2
3
4
5

In [ ]:
a = [1, 2, 3, 4, 5]

for item in a:
    print(item*2)

2
4
6
8
10

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in b:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
a = [1, 10, 9, 24]

i = 0 # 인덱스
while i < len(a):
    print('value: ', a[i], ', index: ', i)
    i += 1

value:  1 , index:  0
value:  10 , index:  1
value:  9 , index:  2
value:  24 , index:  3

**range를 이용하면 더 편하게 구현이 가능합니다**

In [ ]:
for i in range(10): # range를 이용해 0부터 9까지 리스트를 만들 수 있습니다.
    print(i)

0
1
2
3
4
5
6
7
8
9

**단순 반복을 위해서는 _를 사용할 수도 있죠**

In [ ]:
for _ in range(5):
    print("내 영원이 돼줘, 내 이름 불러줘")

내 영원이 돼줘, 내 이름 불러줘
내 영원이 돼줘, 내 이름 불러줘
내 영원이 돼줘, 내 이름 불러줘
내 영원이 돼줘, 내 이름 불러줘
내 영원이 돼줘, 내 이름 불러줘

**format을 이용해서, 문자열을 반복해서 출력해볼까요?**

In [ ]:
a = [1, 2, 3, 4, 5]

for i in a:
    output_str = 'Forever {} It\'s love, it\'s love'.format(i)
    print(output_str)

Forever 1 It's love, it's love
Forever 2 It's love, it's love
Forever 3 It's love, it's love
Forever 4 It's love, it's love
Forever 5 It's love, it's love

**반복문을 이용해서 합계를 구해볼 수 있을까요?**

- score의 합계를 구하고 출력해봅시다.

In [ ]:
scores = [100, 90, 85, 90, 100, 88]

# TO DO

**평균은 어떻게 구할 수 있을까요?**

In [ ]:
scores = [100, 90, 85, 90, 100, 88]

# TO DO

**while의 경우 무한루프를 방지하기 위해 break와 함께 사용합시다.**

In [ ]:
i = 0
while True:
    i += 1
    print(i)
    if i > 5:
        break

1
2
3
4
5
6

**continue를 사용하면 반복문의 처음으로 돌아갑니다.**

In [ ]:
i = 0
while True:
    i += 1
    if i % 2 == 0:
        continue
    print(i)
    if i > 20:
        break

1
3
5
7
9
11
13
15
17
19
21

**이중 for문으로 쓰면 더욱 어렵습니다.**

In [ ]:
for i in range(10):
    for j in range(10):
        print('{} x {} = {}'.format(i, j, i * j))

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## **일일 과제**

**1. 다음은 학생들의 국어, 수학, 영어 성적입니다. 각각 평균을 구해보세요.**

In [25]:
Korean = [92, 36, 45, 52, 0]
math = [97, 38, 49, 98, 58]
english = [19, 52, 61, 13, 91]

korean_sum = 0
math_sum = 0
english_sum = 0



for i in Korean:
    korean_sum += i 
    
print(f"korean_avg : {korean_sum / len(Korean)}")

for j in math:
    math_sum += j 
    
print(f"math_avg : {math_sum/ len(math)}")

for k in english:
    english_sum += k
    
print(f"english_avg : {english_sum / len(english)}")

# 반복이 많이 되는데 효율적으로 하는 법이 궁금.

korean_avg : 45.0
math_avg : 68.0
english_avg : 47.2

**2. 다음은 학생들의 국어, 수학, 영어 성적입니다. 평균을 구하고, 평균 점수가 70점 미만인 사람의 이름을 출력하세요.**

In [12]:
name = ["Kim", "Lee", "Park", "Choi", "Jung", "Kang", "Cho", "Yoon", "Jang", "Lim", "Han"]
math = [97, 38, 49, 98, 58, 17, 13, 25, 39, 9, 96]
english = [19, 52, 61, 13, 91, 34, 87, 7, 69, 97, 33]
Korean = [92, 36, 45, 52, 0, 91, 9, 93, 45, 75, 37]



average_arr = [int((x+y+z) / 3) for x,y,z in zip(math,english,Korean)]

for index,value in enumerate(average_arr):
    if(value < 70):
        print(name[index])

Kim
Lee
Park
Choi
Jung
Kang
Cho
Yoon
Jang
Lim
Han

**3. 1부터 1000까지의 짝수들의 합을 계산하는 코드를 작성하시오.**

In [29]:
arr = list(range(1,1001)) # range의 경우 마지막 인수 1001 혹은 1000+1로 쓰는가?

sum = 0

for i in arr:
    if(i % 2 == 0):
        sum += i     
    
print(sum)

250500

**4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오.**

In [36]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]


max_item = max(a)
min_item = min(a)

print(f"최댓 값: {max_item}")
print(f"최소 값: {min_item}")

최댓 값: 99
최소 값: 1

**5. 구구단을 1단부터 9단까지 출력하시오.**

In [33]:

arr = list(range(2,9+1))

for i in range(2,10):
    for j in range(1,10):
        print(f"{i * j}")

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81